ul
  li.control = link_to '本ランキング', books_rankings_path, class: "button is-primary"
  li.control = link_to '著者ランキング', authors_rankings_path, class: "button is-primary"
  li.control = link_to 'ユーザーランキング', users_rankings_path, class: "button is-primary"
