.authors-index
  .subtitle
    width: 200px
    height: 30px
    line-height: 30px
    border: 1px solid #CCC
    border-radius: 3px
    padding: 5px
    margin: 5px
    a
      color: #222
      &:hover
        text-decoration: none

