header
  margin-bottom: 30px
  nav
    .navbar-brand
      h1
        a
          color: #FFF
      small
        // line-height: 88px
    .navbar-menu
      .navbar-start
        // line-height: 88px
        .navbar-item
          .field
            .control
              display: flex